<div>
    <img class="img-responsive img-full" src="/Images/reservation_bg.jpg" />
</div>
<div class="container reservation">
    <div class="col-md-12 p-left-0 p-right-0 reservation-box">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="getActiveTabClass('table')">
                <a data-toggle="tab" href="#table" class="text-center page-title ">TABLE BOOKING</a>
            </li>
            <li role="presentation" ng-class="getActiveTabClass('boat')">
                <a data-toggle="tab" href="#boat" class="text-center page-title">BOAT BOOKING</a>
            </li>
            <li role="presentation" ng-class="getActiveTabClass('event')">
                <a data-toggle="tab" href="#event" class="text-center page-title">EVENT BOOKING</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="table" class="tab-pane fade {{getActiveTabContent('table')}}">
                <div class="col-md-offset-2 col-md-8">
                    <form role="form" class="ddeck-form" ng-submit="book('table')">
                        <p>Please fill in your information, we will contact you shortly.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last name : *</label>
                                    <input type="text" class="form-control" id="lastname" required ng-model="table.LastName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">First name : *</label>
                                    <input type="text" class="form-control" id="firstname" required ng-model="table.FirstName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email : *</label>
                                    <input type="email" class="form-control" id="email" required ng-model="table.Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile : *</label>
                                    <input type="text" class="form-control" id="mobile" required ng-model="table.Mobile">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date">Date : *</label>
                                    <input type="text" class="form-control" id="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="time">Time : *</label>
                                    <input type="text" class="form-control" id="time" required>
                                </div>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('#date').datetimepicker({ format: 'L' });
                                $('#time').datetimepicker({ format: 'LT' });
                            });
                        </script>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nbOfP">Nb of people : *</label>
                                    <input type="number" min="1" class="form-control" id="nbOfP" required ng-model="table.NumofPeople">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Let us know in advance and we can arrange to bring you right to your dinner table by boat. When you have a location as good as ours, right on the river, there's no other way to arrive.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="radio">
                                    <input type="radio" value="false" id="dont_book" name="book_type" ng-model="hasBoat">
                                    <label for="dont_book"><span></span>Don’t book boat</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" value="true" id="book_boat" name="book_type" ng-model="hasBoat">
                                    <label for="book_boat"><span></span>Book private boat taxi (Date: 26/06/2015 - Time: 17h30)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row {{table.HasBoat ? '' : 'disabled'}}">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="noPeo1">Nb of people : *</label>
                                    <input type="number" min="1" class="form-control" id="noPeo1" ng-model="table.NumberofBoat" ng-required="table.HasBoat" ng-disabled="!table.HasBoat">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Type : *</label>
                                    <select class="form-control" id="type" ng-model="table.TypeBoat" ng-required="table.HasBoat" ng-disabled="!table.HasBoat">
                                        <option value="Oneway">One Way</option>
                                        <option value="Return">Return</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row {{table.HasBoat ? '' : 'disabled'}}">
                            <div class="col-md-12">
                                <p>
                                    Total price: <span format-number="table.Price"></span> vnd 
                                    <a href="/files/Boat Experiences.pdf" target="_blank" class="active">(download our price chart)</a><br />
                                    <span style="font-size:75%">*Inclusions: The Deck signature welcome drink</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" id="note" rows="4" ng-model="table.Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default pull-right">BOOK NOW</button>
                    </form>
                </div>
            </div>
            <div id="boat" class="tab-pane fade {{getActiveTabContent('boat')}}">
                <div class="col-md-offset-2 col-md-8">
                    <form role="form" class="ddeck-form" ng-submit="book('boat')">
                        <div class="row">
                            <p>We also provide of other boat services that you might be interested in.</p>
                        </div>
                        <p>I. PLEASE CHOOSE YOUR BOAT TYPE :</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default {{activePanel(bType.name) ? 'panel-active' : ''}}" ng ng-repeat="bType in boatTypeList">
                                        <div class="panel-heading">
                                            <a class="panel-title radio" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" ng-click="chooseBoatType(bType.name)">
                                                <input type="radio" value="{{bType.name}}" id="boat_type{{$index}}" name="boat_type" ng-model="boat.TypeBoat">
                                                <label for="boat_type{{$index}}"><span></span>{{bType.name}}</label>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse {{activePanel(bType.name) ? 'in' : '' }}">
                                            <div class="panel-body">
                                                <img class="img-responsive img-full" src="/Images/boat4.jpg">
                                                <p class="p-left-40 p-top-10">{{bType.des[1]}}</p>
                                                <p style="font-size:75%">Inclusions : {{bType.des[0]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>II. EXTRA INFORMATION</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="extra_nOfpeo">Nb of people : *</label>
                                    <input type="number" min="{{minPeo}}" max="{{maxPeo}}" class="form-control" id="extra_nOfpeo" ng-model="boat.NumofPeople">
                                </div>
                            </div>
                            <div class="col-md-6 {{boat.TypeBoat == boatType.CuChi ? 'disabled' : ''}}">
                                <div class="form-group">
                                    <label for="extra_hour">Hour(s)</label>
                                    <input type="number" min="1" class="form-control" id="extra_hour" ng-model="boat.Hours" ng-disabled="boat.TypeBoat == boatType.CuChi">
                                </div>
                            </div>
                        </div>

                        <p>III. PERSONAL INFORMATION</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_lastname">Last name : *</label>
                                    <input type="text" class="form-control" id="perInfo_lastname" ng-model="boat.LastName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_firstname">First name : *</label>
                                    <input type="text" class="form-control" id="perInfo_firstname" ng-model="boat.FirstName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_email">Email : *</label>
                                    <input type="email" class="form-control" id="perInfo_email" ng-model="boat.Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_mobile">Mobile : *</label>
                                    <input type="text" class="form-control" id="perInfo_mobile" ng-model="boat.Mobile" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_date">Date : *</label>
                                    <input type="text" class="form-control" id="perInfo_date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="perInfo_time">Time : *</label>
                                    <input type="text" class="form-control" id="perInfo_time" required>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#perInfo_date').datetimepicker({ format: 'L' });
                                $('#perInfo_time').datetimepicker({ format: 'LT' });
                            });
                        </script>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="pull-right">
                                    Total price: <span format-number="boat.Price"></span> vnd 
                                    <a href="/files/Boat Experiences.pdf" target="_blank" class="active">(download our price chart)</a>
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default pull-right">BOOK NOW</button>
                    </form>
                </div>
            </div>
            <div id="event" class="tab-pane fade {{getActiveTabContent('event')}}">
                <div class="col-md-offset-2 col-md-8">

                    <form role="form" class="ddeck-form" ng-submit="book('event')">
                        <p>To organize you event in one of our establishments, contact us by completing the form below and together we will create your perfect event.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Company  : *</label>
                                    <input type="text" class="form-control" id="company" required ng-model="event.Company">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name : *</label>
                                    <input type="text" class="form-control" id="lastname" required ng-model="event.LastName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">First Name : *</label>
                                    <input type="text" class="form-control" id="firstname" required ng-model="event.FirstName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="address">Address : *</label>
                                    <input type="text" class="form-control" id="address" required ng-model="event.Address">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email: *</label>
                                    <input type="email" class="form-control" id="email" required ng-model="event.Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telphone">Telephone: *</label>
                                    <input type="text" class="form-control" id="telphone" required ng-model="event.TelPhone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile: *</label>
                                    <input type="text" class="form-control" id="mobile" required ng-model="event.Mobile">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_date">Event date: *</label>
                                    <input type="text" class="form-control" id="event_date" required>
                                </div>
                                <script>
                                    $(function () {
                                        $('#event_date').datetimepicker({ format: 'L' });
                                    });
                                </script>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nbOfP">Nb of people: *</label>
                                    <input type="number" class="form-control" id="nbOfP" required ng-model="event.NumofPeople">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="typeEvent">Choose your event : *</label>
                                    <select class="form-control" id="typeEvent" ng-model="event.TypeEvent" ng-options="ev for ev in eventList track by ev">
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Note to us</label>
                                    <textarea class="form-control" id="note" ng-model="event.Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default pull-right">BOOK NOW</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>