<style>
    #page_wrapper{
            height:100vh;
    }
</style>
<div id="slider_home">
    <img src="/Images/background.jpg" class="current"/>
    <img src="/Images/background1.jpg"/>
    <img src="/Images/background2.jpg"/>

    <div id="slider_button">
        <span class="current"></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="clearfix">
    <div class="container text-center home-content">
        <p>Wellcome to</p>
        <h2>The Deck</h2>
        <a  href="javascript:;" class="btn btn-home">RESERVATION</a>
    </div>

</div>