<div id="page_wrapper" ng-class="getMainClass()">
    <div ui-view="vTop" class="row">
    </div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div >
        <div ui-view="vContent" >

        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
    <div flash-alert="error" active-class="in alert-flash" class="fade" duration="3000">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div flash-alert="success" active-class="in alert-flash" class="fade " duration="3000">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>
    <div ui-view="vBottom">
    </div>
</div>
