<div ui-view="Contact" class="contactus">
    <div>
        <img class="img-responsive img-full" src="../../../Images/contact_bg.jpg" />
    </div>
    <div class="contact container">
        <div class="col-md-offset-2 contact-box col-md-10">
            <p class="main-title">Contact us</p>

            <div class="col-md-12 p-left-0 p-right-0 contact-content">
                <div class="col-md-4 p-left-0">
                    <p>
                        38 Nguyen U Di St., Thao Dien, An Phu
                        <br />
                        District 2, Ho Chi Minh City
                        <br />
                    </p><p>
                        T +84 (0) 8 3744 6632
                        <br />
                        E info@thedecksaigon.com

                    </p>
                </div>
                <div class="col-md-8">
                    <form>
                        <div class="col-md-6 p-left-0">
                            <p>Last name :*</p>
                            <input type="text" class="form-control" ng-model="contact.LastName" />
                        </div>
                        <div class="col-md-6 p-right-0">
                            <p>First name :*</p>
                            <input type="text" class="form-control" ng-model="contact.FirstName" />
                        </div>
                        <div class="col-md-6 p-left-0">
                            <p>Email :*</p>
                            <input type="text" class="form-control" ng-model="contact.FirstName" />
                        </div>
                        <div class="col-md-6 p-right-0">
                            <p>Mobile :*</p>
                            <input type="text" class="form-control" ng-model="contact.FirstName" />
                        </div>
                        <div class="col-md-12 p-left-0 p-right-0">
                            <p>Message :*</p>
                            <textarea rows="5" style="height:150px;" ng-model="contact.Message" class="form-control">

                            </textarea>
                        </div>
                        <a href="" ng-click="sendcontact()" class="btn-submit">
                            <div class="col-md-12 p-left-0 p-right-0 m-top-20 text-center box-submit">
                                SUBMIT
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>