<div ui-view="Contact" class="contactus">
    <div>
        <img class="img-responsive img-full" src="../../../Images/contact_bg.jpg" />
    </div>
    <div class="contact container">
        <div class="col-md-offset-2 contact-box col-md-10">
            <p class="main-title">Contact us</p>

            <div class="col-md-12 p-left-0 p-right-0 about-content">
                <div class="col-md-4">
                    <p>
                        38 Nguyen U Di St., Thao Dien, An Phu
                        <br />
                        District 2, Ho Chi Minh City
                        <br />
                    </p><p>
                        T +84 (0) 8 3744 6632
                        <br />
                        E info@thedecksaigon.com

                    </p>
                </div>
                <div class="col-md-8">
                    <form>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>