<div ui-view="Contact" class="contactus">
    <div>
        <a href="https://www.google.com/maps/place/The+Deck+Saigon/@10.8047607,106.7469321,2473m/data=!3m1!1e3!4m2!3m1!1s0x317526150c1ce955:0xbdec33b98f6a0deb!6m1!1e1" target="_blank"><img class="img-responsive img-full" src="../../../Images/map.jpg" /></a>
    </div>
    <div class="contact container">
        <div class="col-md-offset-2 contact-box col-md-10">
            <p class="page-title">CONTACT US</p>

            <div class="col-md-12 p-left-0 p-right-0 contact-content">
                <div class="col-md-4">
                    <p>
                        38 Nguyen U Di St., Thao Dien
                        <br />
                        District 2, Ho Chi Minh City
                        <br />
                    </p><p>
                        T +84 (0) 8 3744 6632
                        <br />
                        E info@thedecksaigon.com

                    </p>
                </div>
                <div class="col-md-8">
                    <form class="ddeck-form" ng-submit="sendcontact()" style="margin-top:0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last name :*</label>
                                    <input type="text" id="lastname" class="form-control" ng-model="contact.LastName" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First name :*</label>
                                    <input type="text" id="firstname" class="form-control" ng-model="contact.FirstName" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email :*</label>
                                    <input type="text" id="email" class="form-control" ng-model="contact.Email" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobile :*</label>
                                    <input type="text" id="mobile" class="form-control" ng-model="contact.Mobile" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message :*</label>
                                    <textarea rows="5" style="height:150px;" ng-model="contact.Message" class="form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" ng-click="sendcontact()" class="button-sexy">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>