<div ui-view="About" class="our-story">
    <div>
        <img class="img-responsive img-full"  src="../../../Images/ourstory_bg.jpg" />
    </div>
    <div class="about container">
        <div class="col-md-offset-1 about-box col-md-10">
            <div class="col-md-12 p-left-0">
                <p class="page-title">INTRODUCTION</p>

                <div class="col-md-12 p-left-0 p-right-0 about-content">
                    <p class="">
                        The Deck is situated on the bank of the Saigon River, a short 15 minute journey from the heart of Ho Chi Minh City. It is the city’s most modern Pan Asian cuisine where friendships, romance and fine food comes together. Once you’ve been greeted by a smile, share the sunset, unwind with a signature cocktail and enjoy the contemporary experience. It will be hard for you to depart.
                    </p>

                </div>
            </div>
            <div class="col-md-12 p-left-0 p-top-20">
                <div class="col-md-12 p-left-0 p-right-0 about-content about-line">
                    <p class="">
                        &ldquo; A sharing contemporary Pan Asian experience by the river on The Deck &rdquo;
                    </p>
                </div>
            </div>

            <div class="col-md-12 p-left-0 p-right-0 about-quote">
                <div class="col-md-6 p-left-0">
                    <ul id="quote_slider1">
                        <li>
                            <p class="quota center-block">&ldquo; Amazing. Everything. Cocktails, nibbles. Even took our super young kids for an early meal. Favorite place to bring guests &rdquo; </p>
                            <p class="text-right quota-author">- Ben Mayson </p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; Not your typical restaurant in Vietnam. &rdquo; </p>
                            <p class="text-right quota-author">- Hannah Do Blog </p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; The Deck Saigon is located in the very tranquil space of An Phu area is worth being visited and will not make you disappointed. &rdquo; </p>
                            <p class="text-right quota-author">- Exotic Voyages </p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; One of the country’s best Asian Fusion Restaurants. &rdquo; </p>
                            <p class="text-right quota-author">- The Daily Telegraph London </p>
                        </li>
                    </ul>                    
                </div>
                <div class="col-md-6">
                    <ul id="quote_slider2">
                        <li>
                            <p class="quota center-block">&ldquo; Saigon's most stunning location situated on the banks of the Saigon River. Light and airy by day and intimate and candlelit by night, the perfect place to get away from it all. &rdquo; </p>
                            <p class="text-right quota-author">- Miele Guide</p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; The Deck for the best river sunset in Saigon. &rdquo; </p>
                            <p class="text-right quota-author">- Adventure Faktory Nomad Adventurous Living </p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; The Daily Telegraph London &rdquo; </p>
                            <p class="text-right quota-author">- Lost Guides </p>
                        </li>
                        <li>
                            <p class="quota center-block">&ldquo; Whether to enjoy cocktails on a lazy afternoon or indulge in its fusion menu, The Deck is one of the most chilled-out spots to escape hectic city life. &rdquo; </p>
                            <p class="text-right quota-author">- AsiaLIFE Vietnam</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>