<div ui-view="About" class="our-story">
    <div>
        <img class="img-responsive img-full"  src="../../../Images/ourstory_bg.jpg" />
    </div>
    <div class="about container">
        <div class="col-md-offset-1 about-box col-md-10">
            <p class="page-title">Introduction</p>

            <div class="col-md-12 p-left-0 p-right-0 about-content">
                <p class="">
                    The Deck is situated on the banks of the Saigon River, a short 15 minutes journey from the heart of Ho Chi Minh City. It is the city’s most modern Pan Asian cuisine where friendships, romance and fine food comes together. Once you’ve been greeted by a smile, share the sunset, unwind with a signature cocktail and enjoy the contemporary experience it will be hard for you depart.
                </p>

            </div>
            <p class="page-title">Our mission</p>

            <div class="col-md-12 p-left-0 p-right-0 about-content about-line">
                <p class="">
                    &ldquo; A sharing contemporary Pan Asian experience by the river on The Deck &rdquo; 
                </p>
            </div>

            <div class="col-md-12 p-left-0 p-right-0 about-quote">
                <div class="col-md-6 p-left-0">
                    <p class="quota">&ldquo; Amazing. Everything. Cocktails, nibbles. Even took our super young kids for an early meal. Favorite place to bring guests &rdquo; </p>
                    <p class="text-right quota-author">- Ben Mayson </p>
                </div>
                <div class="col-md-6">
                    <p class="quota center-block">
                        &ldquo;Saigon's most stunning location situated on the banks of the Saigon River. Light and airy by day and intimate and candlelit by night, the perfect place to get away from it all. &rdquo;
                    </p>
                    <p class="text-right quota-author">- Miele Guide  </p>
                </div>
            </div>
        </div>
    </div>
</div>