
<div ui-view="About" class="col-md-12">
    <div class="about ">
        <div class="text-center">
            <p class="page-title">ABOUT US</p>
        </div>
        <div class=" col-md-12">
            <p class="about-content text-center">
                 CAT ON A HAT is  a Viet Nam base lifestyle  brand providing womenwsear & accessories collection.
                <br />
                <br />
                 Our mojo is bringing the laughter,joyful spririts, good enegy & happily creativity to the world.We are inspired by <br />
                and inspiring our friends with fun, bold design products around Viet Nam and the world.
             </p>
            <div class="col-md-offset-3 col-md-6 about-img">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-4">
                        <img class="img-responsive" src="../../../Images/about-image.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="../../../Images/about-image.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="../../../Images/about-image.jpg" />
                    </div>
                </div>
               
            </div>
          
        </div>
        <div class=" col-md-12 text-center">
            <p class="page-title about-title">CONTACT US</p>
            <p>FOLLOW US AT</p>
            <div class="col-md-offset-5 col-md-2">
                <p class="contact-follow text-center">
                    <a ng-href="#" class="t-nav it-nav"></a>
                    <a ng-href="#" class="t-nav fb-nav"></a>
                </p>
            </div>
            <div class="col-md-5"></div>
            <div class="clearfix"></div>
            <p>HOTLINE</p>
            <p class="phone-number">098 164 1828</p>
        </div>
    </div>
</div>