<ul class="pgwSlideshow">
    <li><img src="/Images/gallery/thumb_IMG_1645.jpg" alt="" data-large-src="/Images/gallery/IMG_1645.JPG"></li>
    <li><img src="/Images/gallery/thumb_Homepage Gallery.JPG" alt="" data-large-src="/Images/gallery/Homepage Gallery.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_2252.jpg" alt="" data-large-src="/Images/gallery/IMG_2252.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1250.jpg" alt="" data-large-src="/Images/gallery/IMG_1250.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1273.jpg" alt="" data-large-src="/Images/gallery/IMG_1273.jpg"></li>
    <li><img src="/Images/gallery/thumb_IMG_1278.jpg" alt="" data-large-src="/Images/gallery/IMG_1278.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1336.jpg" alt="" data-large-src="/Images/gallery/IMG_1336.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1111.jpg" alt="" data-large-src="/Images/gallery/IMG_1111.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1437.jpg" alt="" data-large-src="/Images/gallery/IMG_1437.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1225.jpg" alt="" data-large-src="/Images/gallery/IMG_1225.JPG"></li>
    <li><img src="/Images/gallery/thumb_Homepage Gallery 19.jpg" alt="" data-large-src="/Images/gallery/Homepage Gallery 19.jpg"></li>
    <li><img src="/Images/gallery/thumb_IMG_1507.jpg" alt="" data-large-src="/Images/gallery/IMG_1507.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1263.jpg" alt="" data-large-src="/Images/gallery/IMG_1263.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1518.jpg" alt="" data-large-src="/Images/gallery/IMG_1518.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1546.jpg" alt="" data-large-src="/Images/gallery/IMG_1546.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1694.jpg" alt="" data-large-src="/Images/gallery/IMG_1694.jpg"></li>
    <li><img src="/Images/gallery/thumb_IMG_1574.jpg" alt="" data-large-src="/Images/gallery/IMG_1574.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1606.jpg" alt="" data-large-src="/Images/gallery/IMG_1606.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1756.jpg" alt="" data-large-src="/Images/gallery/IMG_1756.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_2196.jpg" alt="" data-large-src="/Images/gallery/IMG_2196.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_2158.jpg" alt="" data-large-src="/Images/gallery/IMG_2158.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1233.jpg" alt="" data-large-src="/Images/gallery/IMG_1233.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_2216.jpg" alt="" data-large-src="/Images/gallery/IMG_2216.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1503.jpg" alt="" data-large-src="/Images/gallery/IMG_1503.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_1221.jpg" alt="" data-large-src="/Images/gallery/IMG_1221.JPG"></li>
    <li><img src="/Images/gallery/thumb_IMG_2263.jpg" alt="" data-large-src="/Images/gallery/IMG_2263.JPG"></li>
    <li><img src="/Images/event_ga/thumb_E _ C Homepage Photo.jpg" alt="" data-large-src="/Images/event_ga/E _ C Homepage Photo.jpg"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering 2.JPG" alt="" data-large-src="/Images/event_ga/Gallery events _ catering 2.JPG"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering 3.jpg" alt="" data-large-src="/Images/event_ga/Gallery events _ catering 3.jpg"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering.JPG" alt="" data-large-src="/Images/event_ga/Gallery events _ catering.JPG"></li>
    <li><img src="/Images/event_ga/thumb_gallery IMG_1468.jpg" alt="" data-large-src="/Images/event_ga/gallery IMG_1468.jpg"></li>
    <li><img src="/Images/event_ga/thumb_E _ C Gallery 5.jpg" alt="" data-large-src="/Images/event_ga/E _ C Gallery 5.jpg"></li>
    <li><img src="/Images/event_ga/thumb_E _ C Gallery 6.jpg" alt="" data-large-src="/Images/event_ga/E _ C Gallery 6.jpg"></li>
</ul>