<ul class="pgwSlideshow">
    <li><img src="/Images/gallery/thumb1.png" alt="" data-large-src="/Images/gallery/image1.png"></li>
    <li><img src="/Images/gallery/thumb2.png" alt="" data-large-src="/Images/gallery/image2.png"></li>
    <li><img src="/Images/gallery/thumb3.png" alt="" data-large-src="/Images/gallery/image1.png"></li>
    <li><img src="/Images/gallery/thumb4.png" alt="" data-large-src="/Images/gallery/image2.png"></li>
    <li><img src="/Images/gallery/thumb5.png" alt="" data-large-src="/Images/gallery/image1.png"></li>
    <li><img src="/Images/gallery/thumb6.png" alt="" data-large-src="/Images/gallery/image2.png"></li>
    <li><img src="/Images/gallery/thumb7.png" alt="" data-large-src="/Images/gallery/image1.png"></li>
</ul>