<div ui-view="event" class="eventpage">
    <div>
        <img class="img-responsive img-full" src="../../../Images/event_bg.jpg" />
    </div>
    <div class="event container">
        <!--<div class="col-md-offset-1 contact-box col-md-10">

            <div class="col-md-12 p-left-0 p-right-0 event-content">
                <div class="col-md-6 p-left-0">
                    <p class="page-title">PLAN YOUR EVENT</p>
                    <p class="p-top-10">
                        <h5>DESIGN</h5>
                        We realise that it isn’t just food and drinks that make the perfect party. Whilst we can ensure that side of things always exceeds your expectations, we like to work with the very best suppliers and products elsewhere too, so that everything runs as smoothly as the food, from flowers to music, from candle to cushion, from curtain up to curtain down - we like to create the utterly extraordinary.
                    </p>
                    <p>
                        <h5>CORPORATE</h5>
                        What makes our friendly service different is the location and 5 star service. There are many hotels in Saigon boasting good corporate facilities but none of them can claim a grade A service right on the banks of Saigon River. With both indoor and outdoor facilities, we can cater to both daytime events inside cool chic lounges, and outdoor evening events under the stars.
                    </p>
                    <p>
                        <h5>LOCATION VENUE</h5>
                        We have the perfect location for your press events, product launches, fashion shows and film shoots only minutes from the heart of Saigon. With unbeatable natural light enhanced by the Saigon River, beautiful garden and top class food, we have the perfect combination of nature and cosmopolitan life all in one place. And all of this with one of Asia's most stunning rivers as a backdrop.
                    </p>
                    <p>
                        <h5>PRIVATE EVENTS AT THE DECK</h5>
                        The Deck is able to offer its beautiful setting for a limited number of private events. The restaurant can accommodate 150 guests for lunch and dinner functions and up to 300 for drink receptions. With The Saigon River at your feet and open-air garden with private bar, create a beautiful setting for corporate or private functions.

                    </p>
                    <p>
                        The Deck is available year-round for your exclusive event, please email to info@thedecksaigon.com for more information.

                    </p>
                    <a href="/reservation#event" class="btn-form">
                        <div class="col-md-12 p-left-0 p-right-0 m-top-20 text-center box-form">

                            GO TO BOOK EVENT

                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <p class="page-title">BOAT SERVICES</p>
                    <p class="p-top-45">Let us know in advance and we can arrange to bring you right to your dinner table by boat. When you have a location as good as ours, right on the river, there's no other way to arrive. </p>
                    <a href="/reservation#boat" class="btn-form">
                        <div class="col-md-12 p-left-0 p-right-0 m-top-20 text-center box-form">

                            GO TO BOOK BOAT


                        </div>
                    </a>
                </div>
            </div>
        </div>-->
        <div class="col-md-12">
            <div class="row col-md-12 event-header">
                <ul class="list-inline">
                    <li><a ng-class="getActiveClass('private')" ui-sref="main.home.event({type:'private'})">PRIVATE & SPECIAL EVENTS</a></li>
                    <li><a ng-class="getActiveClass('corporate')" ui-sref="main.home.event({type:'corporate'})">CORPORATE EVENTS</a></li>
                    <li><a ng-class="getActiveClass('wedding')" ui-sref="main.home.event({type:'wedding'})">WEDDING</a></li>
                    <li><a ng-class="getActiveClass('gourmet-catering')" ui-sref="main.home.event({type:'gourmet-catering'})">GOURMET CATERING</a></li>
                    <li><a ng-class="getActiveClass('arrive-boat')" ui-sref="main.home.event({type:'arrive-boat'})">ARRIVE BY BOAT</a></li>
                    <li><a ui-sref="main.home.photo">GALLERY</a></li>
                </ul>
            </div>
            <div class="row col-md-12 event-content" ng-if="type==null || type == ''">
                <p class="page-title">INTRODUCTION</p>
                Since its opening in August 2008, The Deck Saigon has become one of the leading restaurants in Vietnam and attracts a stylish crowd who come for serious food and cocktails in a seriously stylish venue.  Its fabulous river side location and unique style make it one of the most popular destinations in Ho Chi Minh City. There is no other location like this in Asia’s most exciting and chic city.
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='private'">
                <p class="page-title">PRIVATE & SPECIAL EVENTS</p>
                The Deck Saigon offers a flexible open air event space on the banks of the Saigon River suitable for all types of private events. From intimate celebrations to large receptions and dinners, our team will create the right atmosphere for you and your guests to enjoy and relax. Our professional and friendly team will be there to help you every step of the way, from initial enquiry right through to the actual event.
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='corporate'">
                <p class="page-title">CORPORATE EVENTS</p>
                The Deck Saigon offers the perfect setting for your corporate events. Enchant your colleagues and clients by hosting your function in our stunning venue, with the most beautiful river as a backdrop.  Our flexible facilities can cater for seated or buffet dinners, product launches, press events, fashion shows, film shoots. With unbeatable natural light enhanced by the Saigon River, beautiful garden, private bar and top class food, our professional and friendly team will make your event one to remember!
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='wedding'">
                <p class="page-title">WEDDINGS</p>
                Make your special day even more special by tying the knot in a venue like no other! Our stunning scenery will create the best backdrop for your wedding celebration, and our Event Team will do the rest, going above and beyond to ensure your event runs to perfection and exceeds your expectations. Let our Event Team deal with the tiny details – from flower arrangements, to décor and music – and our Head Chef create a bespoke menu that will delight everyone, just relax and enjoy your day!!!
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='gourmet-catering'">
                <p class="page-title">GOURMET CATERING</p>
                Why not bring The Deck Saigon to your home! Let our Chef create an individualised menu for your corporate or special event and our mixologists bring our famous cocktails to your party. Whether it is a wedding celebration or drinks reception, The Deck Saigon can cater for almost any occasion. We can provide a full catering package, to include food, drinks and serving staff, or only drop off our beautifully presented food to your door for you to serve and impress your guests!

                Please contact our experienced and friendly team to request a full proposal.
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='arrive-boat'">
                <p class="page-title">ARRIVE BY BOAT</p>
                <div class="col-md-12 p-left-0">
                    <h5>PRIVATE BOAT TAXI</h5>
                    Arrive to The Deck in style by boat direct to the dining room steps.  The only restaurant in Saigon where you can arrive by your own private speedboat.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>COCKTAIL CRUISE</h5>
                    Capture the life on the banks of the Saigon River for a pre-dinner sunset cruise. Enjoy our chef’s selection of canapés. Ideal for romantic evenings, family outings or dinner with friends.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>CU CHI TUNNELS</h5>
                    The Cu Chu Tunnels are an immense network of connecting underground tunnels used during the time of the Vietnam War. The Deck “Cu Chi Experience” will guide you and your guests by private speedboat to the site of The tunnels. You will be accompanied by our knowledgable tour guides all at your own pace. A light breakfast will be served on-board before entering the tunnels, picnic lunch and ice cold rose wine.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>DUTCH BOAT</h5>
                    Ideal for corporate team building or a group outing. Made by hand in Holland cruise along the Mekong River while enjoying our selection of canapés and Rose. BBQ also now available!
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>LUXURY YACHT</h5>
                    One of the only 2 level luxury Yachts for rent in Saigon. For up to 13 people you and your guests can cruise the Mekong while sipping your favourite libations and sampling our chef’s selection of canapés. Bespoke this boat excursion to your hearts desire!
                </div>
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='gallery'">
                <p class="page-title"></p>
                Coming soon
            </div>
            <div class="row col-md-12 event-content" ng-if="type=='boat-experience'">
                <p class="page-title">BOAT EXPERIENCE</p>
                Arrive in style – moor your boat at our dock – walk directly up the steps into The Deck Saigon.
                If you would like to arrive in style we will organise a boat to pick you up from down town. You can also start your party on a boat by booking a one hour Private Sunset Cruise and enjoy the beautiful scenery whilst sipping a glass of rosé wine and savouring a selection of mouthwatering canapés.  Alternatively we are only a 15 minute drive from the centre. Please contact us on <a href="mailto:info@thedecksaigon.vn">info@thedecksaigon.vn</a> for further information.
            </div>
        </div>
    </div>
    <div class="subMenu" ng-if="type=='private' || type=='corporate' || type=='wedding' || type=='arrive-boat'" style="font-size:12px;">
        <ul ng-if="type=='private' || type=='corporate' || type=='wedding'" class="list-inline">
            <li><a target="_blank" href="/menu#brunch">BRUNCH MENU</a></li>
            <li><a target="_blank" href="/menu#lunch">LUNCH MENU</a></li>
            <li><a target="_blank" href="#">DRINKS MENU</a></li>
            <li><a target="_blank" href="#">CANAPÉS MENU</a></li>
            <li><a target="_blank" href="/menu#dinner">DINNER MENU</a></li>
            <li><a target="_blank" href="#">SPECIAL EVENT CALENDAR</a></li>
            <li><a target="_blank" href="/photo">PHOTO GALLERY</a></li>
            <li><a ui-sref="main.home.event({type:'boat-experience'})">BOAT EXPERIENCE</a></li>
        </ul>
        <ul ng-if="type=='arrive-boat'">
            <li><a target="_blank" href="/files/Boat Quotation.pdf">DOWNLOAD BOAT SERVICES</a></li>
        </ul>
    </div>
</div>
