<ul class="pgwSlideshow">
    <li><img src="/Images/event_ga/thumb_E _ C Gallery 5.jpg" alt="" data-large-src="/Images/event_ga/E _ C Gallery 5.jpg"></li>
    <li><img src="/Images/event_ga/thumb_E _ C Gallery 6.jpg" alt="" data-large-src="/Images/event_ga/E _ C Gallery 6.jpg"></li>
    <li><img src="/Images/event_ga/thumb_E _ C Homepage Photo.jpg" alt="" data-large-src="/Images/event_ga/E _ C Homepage Photo.jpg"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering 2.JPG" alt="" data-large-src="/Images/event_ga/Gallery events _ catering 2.JPG"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering 3.jpg" alt="" data-large-src="/Images/event_ga/Gallery events _ catering 3.jpg"></li>
    <li><img src="/Images/event_ga/thumb_Gallery events _ catering.JPG" alt="" data-large-src="/Images/event_ga/Gallery events _ catering.JPG"></li>
    <li><img src="/Images/event_ga/thumb_gallery IMG_1468.jpg" alt="" data-large-src="/Images/event_ga/gallery IMG_1468.jpg"></li>    
</ul>