<div class="clearfix">
</div>
<div>
    <div class="rows">
        <div class="col-md-6 text-md-left text-xs-left">
            <div class="menu">
                <ul class="list-inline menu-icon">
                    <li class="home active" ng-mouseenter="showtext('ALL ITEMS')" ng-mouseleave="defauttext()" ng-click="showtext('ALL ITEMS')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="clother" ng-mouseenter="showtext('CLOTHER','clother')" ng-mouseleave="defauttext('clother')" ng-click="showtext('CLOTHER')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="pants" ng-mouseenter="showtext('PANTS','pants')" ng-mouseleave="defauttext('pants')" ng-click="showtext('PANTS')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="hat" ng-mouseenter="showtext('HAT','hat')" ng-mouseleave="defauttext('hat')" ng-click="showtext('HAT')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="umbrella" ng-mouseenter="showtext('UMBRELLA','umbrella')" ng-mouseleave="defauttext('umbrella')" ng-click="showtext('UMBRELLA')">
                        <a href=" #">

                        </a>
                    </li>
                    <li class="bag" ng-mouseenter="showtext('BAG','bag')" ng-mouseleave="defauttext('bag')" ng-click="showtext('BAG')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="boots" ng-mouseenter="showtext('BOOTS','boots')" ng-mouseleave="defauttext('boots')" ng-click="showtext('BOOTS')">
                        <a href="#">

                        </a>
                    </li>
                    <li class="cream" ng-mouseenter="showtext('CREAM','cream')" ng-mouseleave="defauttext('cream')" ng-click="showtext('CREAM')">
                        <a href="#">

                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-md-right text-xs-center">
            <!--<strong>{{cat_text}}</strong>-->
            <div ng-bind-html="cat_text">
            </div>
        </div>
    </div>
 
</div>
<div class="clearfix">
</div>