<div class="clearfix">

</div>
<div ui-view="Menu" class="menu">
    <div ng-repeat="mng in menuGroups">
        <div class="main-banner">
            <!--<div class="parallax-window" id="parallax{{$index + 1}}" style="background-image:url(/Images/menu/menu_bg{{$index + 1}}.jpg)"></div>-->
            <div class="img-holder" data-image="Images/menu/menu_bg{{$index + 1}}.jpg"></div>
            <div class="downloadourmenu" ng-if="$index == 0">
                DOWNLOAD OUR MENU
            </div>
        </div>
        <div class="container">
            <div class="menu-box col-md-12 p-0">
                <div class="col-md-12  p-right-0 p-top-20">
                    <p class="{{menuGroupDetails[mng].cates.center.length > 0? 'text-center' : ''}}">
                        <strong class="title">{{mng}}</strong>
                    </p>

                    <div class="col-md-8 col-md-offset-2">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.center">
                            <p class="text-center">{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-left-0">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.left">
                            <p>{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-right-0">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.right">
                            <p>{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--<div>
        <div class="parallax-window" style="background-image:url(/Images/menu/menu_bg2.jpg)"></div>
    </div>
    <div class="container">
        <div class="menu-box col-md-12 p-0">
            <div class="col-md-12  p-right-0 p-top-20">
                <p><strong class="title">Brunch</strong></p>
                <div class="col-md-6 p-left-0">
                    <div class="menu-item">
                        <p>MAINS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Wagyu Beef Burger 
                                    <div class="menu-item-des">
                                        <span>French Fries Chilli Aïoli</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                295,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                   Yakitori Chicken 
                                    <div class="menu-item-des">
                                        <span>Lime Leaf Leek </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Sirloin on Hot Rocks
                                    <div class="menu-item-des">
                                        <span>Ponzu Truffle Oil </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                675,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pumpkin Aubergine Curry (V)
                                    <div class="menu-item-des">
                                        <span>Potato Crisps</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                380,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Medley of Asian Mushrooms (V)
                                    <div class="menu-item-des">
                                        <span>Garlic Yuzu Dressing</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                300,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pan Fried Yellow Fin Tuna
                                    <div class="menu-item-des">
                                        <span>Papaya Chutney</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                395,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Baked Black Cod 
                                    <div class="menu-item-des">
                                        <span>Miso Marinated </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               695,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                  Pan Fried  Salmon 
                                    <div class="menu-item-des">
                                        <span>Crispy Skin Star Anise  Coconut</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                470,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                   Black Mussels 
                                    <div class="menu-item-des">
                                        <span>Lemongrass Coconut</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                580,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>SALADS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Spicy Beef Crispy Wontons 
                                    <div class="menu-item-des">
                                        <span>Cucumber Tomato Chilli Shallot Coriander </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                300,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Roast Duck Watermelon Cashew Nuts
                                    <div class="menu-item-des">
                                        <span>Hoisin Lime Cress </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Seared Salmon Green Mango 
                                    <div class="menu-item-des">
                                        <span>Chilli Coriander Shallot Lime  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Lotus Asparagus Wakame 
                                    <div class="menu-item-des">
                                        <span>Sesame Soy </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Spicy Chicken Crispy Wontons 
                                    <div class="menu-item-des">
                                        <span>Cucumber Tomato Chilli Shallot Corriander </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Char Grilled Phu Quoc Squid
                                    <div class="menu-item-des">
                                        <span>Chilli Lemongrass Lotus </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Yellow Fin Tuna Sashimi   
                                    <div class="menu-item-des">
                                        <span>Daikon Sesame </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Crudités (V)
                                    <div class="menu-item-des">
                                        <span>Quail Eggs Aubergine Garlic Dip </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Crab Pomelo  
                                    <div class="menu-item-des">
                                        <span>Wasabi Avocado Mousse </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                340,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Beetroot Goat’s Cheese
                                    <div class="menu-item-des">
                                        <span>Soy Nori Seaweed Crispy Garlic Chilli Flakes</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                295,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>BENTO SETS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Jasmine Rice  -  Asparagus Lotus  Wakame Salad 

                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    The Deck Bento 
                                    <div class="menu-item-des">
                                        <span>     Caramalised Norwegian Salmon Vegetable Tempura</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Vegetarian Bento 
                                    <div class="menu-item-des">
                                        <span>     Medley of Mushrooms Vegetable Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Chicken Bento 
                                    <div class="menu-item-des">
                                        <span>   Grilled Chicken Leek Phu Quoc Squid Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                  
                                    Pork Bento 
                                    <div class="menu-item-des">
                                        <span>  Iberian Pork Phu Quoc Prawn Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>SIDES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    French Fries (V)
                                    <div class="menu-item-des">
                                        <span>    Chili Aïoli</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Steamed Rice (V)
                                    <div class="menu-item-des">
                                        <span>    Jasmine </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                40,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Sautéed Thien Ly Flowers (V)
                                    <div class="menu-item-des">
                                        <span>  Garlic Olive Oil </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                100,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Bok Choy 
                                    <div class="menu-item-des">
                                        <span>  Oysters Sauce Sesame </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Spinach (V) 
                                    <div class="menu-item-des">
                                        <span>  Cream Miso </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                80,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Warm Aubergine Salad  (V)
                                    <div class="menu-item-des">
                                        <span>  Chilli Soy
 </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Sautéed Asparagus  (V)
                                    <div class="menu-item-des">
                                        <span>  Garlic Lemongrass Ginger Chilli
 </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                100,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Sautéed Snake Beans   (V)
                                    <div class="menu-item-des">
                                        <span>
                                            Soy Garlic Chilli
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-right-0">
                    <div class="menu-item">
                        <p>THE DECK WEEKENDER SPECIAL</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    COMPLIMENTARY OYSTERS WITH YOUR MOËT & CHANDON
                                    <div class="menu-item-des">
                                        <span>Bottle </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                2,200,000

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
   
                                    The Deck Bellini
                                    <div class="menu-item-des">
                                        <span>Peach Moët & Chandon
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                500,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    London Calling 

                                    <div class="menu-item-des">
                                        <span>London Dry Gin Pimm’s No1 Mixed Fruits
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                190,000
                            </div>
                        </div>
                        

                    </div>
                    <div class="menu-item">
                        <p>LATE BREAKFAST</p>
                        <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Spinach Bacon Omelette 
                                <div class="menu-item-des">
                                    <span>Brie Nuts Seeds Wholemeal Toast </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            210,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Smoked Salmon Scrambled Eggs
                                <div class="menu-item-des">
                                    <span>Asparagus Goat’s Cheese Bagel </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            250,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Goat’s Cheese Toast 
                                <div class="menu-item-des">
                                    <span>Avocado Roast Cherry Tomato Crispy Bacon Nuts Seeds  </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            250,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Croque Monsieur / Madame 
                                <div class="menu-item-des">
                                    <span>Wholemeal Toast Ham Gruyère Cheese / Egg </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            200 / 220,000 
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Eggs Benedict 
                                <div class="menu-item-des">
                                    <span>Poached Eggs Bacon Spinach Hollandaise English Muffin
 </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            190,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Eggs Norwegian 
                                <div class="menu-item-des">
                                    <span>Poached Eggs Smoked Salmon Rocket Hollandaise English Muffin</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                           200,000
                        </div>
                    </div>
                    </div>
                    <div class="menu-item">
                        <p>SMALL PLATES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Mixed Vegetables Tempura (V)
                                    <div class="menu-item-des">
                                        <span>Chilli Pepper Sauce </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                195,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Thai Fish Cakes 
                                    <div class="menu-item-des">
                                        <span>Chilli Aïoli </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                260,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Phu Quoc Prawn Rolls
                                    <div class="menu-item-des">
                                        <span>Caramelised Ponzu   </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Phu Quoc Squid Tempura 
                                    <div class="menu-item-des">
                                        <span>Chilli Pepper Sauce  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                 220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Japanese Scallop Sashim
                                    <div class="menu-item-des">
                                        <span>
                                            Ponzu Yuzu Truffle Oil  
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                390,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Wasabi Phu Quoc Prawns 
                                    <div class="menu-item-des">
                                        <span>Wasabi Butter Citrus Wedge
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                495,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Chicken Foie Gras Sui Mai 
                                    <div class="menu-item-des">
                                        <span>
                                            Shiitake Mushrooms Teriyaki Sauce
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                295,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Warm Dalat Artichoke (V)
                                    <div class="menu-item-des">
                                        <span>
                                            Chilli Soy Shallot

                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Crispy Duck Pancakes 
                                    <div class="menu-item-des">
                                        <span>
                                            Hoisin Cucumber Spring Onion Shallot Chilli
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Soft Shell Crab Tempura 
                                    <div class="menu-item-des">
                                        <span>
                                            Thai Chilli Sauce  
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>THE DECK INDULGENCES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Fresh Nha Trang Oysters ½ Dozen 
                                    <div class="menu-item-des">
                                        <span>Lime Tabasco  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    L’en K De Caviar
                                    <div class="menu-item-des">
                                        <span>Blinis Shallot Egg Sour Cream  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                1,600,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Char Grilled Wagyu Beef Fillet 
                                    <div class="menu-item-des">
                                        <span>Teriyaki Sauce
  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                1,250,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Whole Vietnamese Rock Lobster 
                                    <div class="menu-item-des">
                                        <span>Steamed Yuzu Garlic Butter </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                1,895,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Foie Gras Confit in a Jar 
                                    <div class="menu-item-des">
                                        <span>
                                            Mango Chutney

                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                695,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pan Fried Foie Gras 
                                    <div class="menu-item-des">
                                        <span>Lychee Passion Fruit</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                595,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Wagyu Fillet Carpaccio 
                                    <div class="menu-item-des">
                                        <span>Yuzu Garlic Dressing
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                450,000
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>-->
</div>
<div class="clearfix">

</div>