<div class="clearfix">

</div>
<div ui-view="Menu" class="menu">
    <div class="main-banner">
        <img class="img-responsive img-full" src="../../../Images/menu/menu_bg.jpg" />
        <div class="dowloadourmenu">
            DOWNLOAD OUR MENU
        </div>
    </div>
    <div class="container">
        <div class="menu-box col-md-12 p-0">
            <div class="col-md-12  p-right-0 p-top-20">
                <p><strong class="title">Breakfast</strong></p>
                <div class="col-md-6 p-left-0">
                    <div class="menu-item">
                        <p>Healthy</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">Homemade Granola (V) 
                                    <div class="menu-item-des">
                                        <span>Yoghurt Fresh Fruits</span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                150,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Exotic Fruit Platter (V)

                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                180,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Yoghurt and Honey  (V)

                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Egg White Omelette  (V)
                                    <div class="menu-item-des">
                                        <span>Fresh Herbs</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                110,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>JUICE & SMOOTHIE</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Clean and Lean
                                    <div class="menu-item-des">
                                        <span>Apple Melon Cranberry</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Green Goddess
                                    <div class="menu-item-des">
                                        <span>Kiwi Apple Pear Lime </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Detox
                                    <div class="menu-item-des">
                                        <span>Beetroot Celery Apple Ginger </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Tropico
                                    <div class="menu-item-des">
                                        <span>Mango Passion Fruit Banana</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>SIDES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Wholemeal Toast
                             
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                60,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Toasted Bagel 
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                60,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Bacon 
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Smoked Salmon
                                    
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                150,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-right-0">
                    <div class="menu-item">
                        <p>INDULGENCES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    2 Eggs Poached / Fried (V)
                                    <div class="menu-item-des">
                                        <span>Wholemeal Toast</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                100,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Spinach Bacon Omelette
                                    <div class="menu-item-des">
                                        <span>Feta Basil Wholemeal Toast</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                210,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Avocado Scrambled Eggs
                            
                                    <div class="menu-item-des">
                                        <span>Nuts Seeds Crispy Bacon Bagel</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                190,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Smoked Salmon Scrambled Eggs
                                    <div class="menu-item-des">
                                        <span>Asparagus Goat’s Cheese Bagel </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                250,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Eggs Benedict 
                                    <div class="menu-item-des">
                                        <span>Poached Eggs Bacon Spinach Hollandaise English Muffin </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                190,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Eggs Norwegian 
                                    <div class="menu-item-des">
                                        <span>Poached Eggs Smoked Salmon Rocket Hollandaise English Muffin </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Eggs Florentine (V)
                                    <div class="menu-item-des">
                                        <span>Poached Eggs Spinach Hollandaise English Muffin </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                180,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Goat’s Cheese Toast 
                                    <div class="menu-item-des">
                                        <span>Avocado Roast Cherry Tomato Crispy Bacon Nuts Seeds </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                250,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Cream Cheese Smoked Salmon Bagel 
                                    <div class="menu-item-des">
                                        <span>Dill and Capers</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               190,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Croque Monsieur / Madame
                                    <div class="menu-item-des">
                                        <span>Wholemeal Toast Ham Gruyère Cheese / Egg </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200 / 220,000 
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pancakes (V)
                                    <div class="menu-item-des">
                                        <span>Fresh Fruit Palm Sugar Syrup </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                190,000
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="img-responsive img-full" src="../../../Images/menu/menu_bg2.jpg" />
    </div>
    <div class="container">
        <div class="menu-box col-md-12 p-0">
            <div class="col-md-12  p-right-0 p-top-20">
                <p><strong class="title">Brunch</strong></p>
                <div class="col-md-6 p-left-0">
                    <div class="menu-item">
                        <p>MAINS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Wagyu Beef Burger 
                                    <div class="menu-item-des">
                                        <span>French Fries Chilli Aïoli</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                295,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                   Yakitori Chicken 
                                    <div class="menu-item-des">
                                        <span>Lime Leaf Leek </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Sirloin on Hot Rocks
                                    <div class="menu-item-des">
                                        <span>Ponzu Truffle Oil </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                675,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pumpkin Aubergine Curry (V)
                                    <div class="menu-item-des">
                                        <span>Potato Crisps</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                380,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Medley of Asian Mushrooms (V)
                                    <div class="menu-item-des">
                                        <span>Garlic Yuzu Dressing</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                300,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Pan Fried Yellow Fin Tuna
                                    <div class="menu-item-des">
                                        <span>Papaya Chutney</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                395,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Baked Black Cod 
                                    <div class="menu-item-des">
                                        <span>Miso Marinated </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               695,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                  Pan Fried  Salmon 
                                    <div class="menu-item-des">
                                        <span>Crispy Skin Star Anise  Coconut</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                470,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                   Black Mussels 
                                    <div class="menu-item-des">
                                        <span>Lemongrass Coconut</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                580,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>SALADS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Spicy Beef Crispy Wontons 
                                    <div class="menu-item-des">
                                        <span>Cucumber Tomato Chilli Shallot Coriander </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                300,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Roast Duck Watermelon Cashew Nuts
                                    <div class="menu-item-des">
                                        <span>Hoisin Lime Cress </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Seared Salmon Green Mango 
                                    <div class="menu-item-des">
                                        <span>Chilli Coriander Shallot Lime  </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Lotus Asparagus Wakame 
                                    <div class="menu-item-des">
                                        <span>Sesame Soy </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                200,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Spicy Chicken Crispy Wontons 
                                    <div class="menu-item-des">
                                        <span>Cucumber Tomato Chilli Shallot Corriander </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Char Grilled Phu Quoc Squid
                                    <div class="menu-item-des">
                                        <span>Chilli Lemongrass Lotus </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                240,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Yellow Fin Tuna Sashimi   
                                    <div class="menu-item-des">
                                        <span>Daikon Sesame </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Crudités (V)
                                    <div class="menu-item-des">
                                        <span>Quail Eggs Aubergine Garlic Dip </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                220,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Crab Pomelo  
                                    <div class="menu-item-des">
                                        <span>Wasabi Avocado Mousse </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                340,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Beetroot Goat’s Cheese
                                    <div class="menu-item-des">
                                        <span>Soy Nori Seaweed Crispy Garlic Chilli Flakes</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                295,000
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>BENTO SETS</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Jasmine Rice  -  Asparagus Lotus  Wakame Salad 

                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                350,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    The Deck Bento 
                                    <div class="menu-item-des">
                                        <span>     Caramalised Norwegian Salmon Vegetable Tempura</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                               
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Vegetarian Bento 
                                    <div class="menu-item-des">
                                        <span>     Medley of Mushrooms Vegetable Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Chicken Bento 
                                    <div class="menu-item-des">
                                        <span>   Grilled Chicken Leek Phu Quoc Squid Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                  
                                    Pork Bento 
                                    <div class="menu-item-des">
                                        <span>  Iberian Pork Phu Quoc Prawn Tempura </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">

                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <p>SIDES</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    French Fries (V)
                                    <div class="menu-item-des">
                                        <span>    Chili Aïoli</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                85,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Steamed Rice (V)
                                    <div class="menu-item-des">
                                        <span>    Jasmine </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                40,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Sautéed Thien Ly Flowers (V)
                                    <div class="menu-item-des">
                                        <span>  Garlic Olive Oil </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                100,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    Bok Choy 
                                    <div class="menu-item-des">
                                        <span>  Oysters Sauce Sesame </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Spinach (V) 
                                    <div class="menu-item-des">
                                        <span>  Cream Miso </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                80,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Warm Aubergine Salad  (V)
                                    <div class="menu-item-des">
                                        <span>  Chilli Soy
 </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Sautéed Asparagus  (V)
                                    <div class="menu-item-des">
                                        <span>  Garlic Lemongrass Ginger Chilli
 </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                100,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">

                                    Sautéed Snake Beans   (V)
                                    <div class="menu-item-des">
                                        <span>
                                            Soy Garlic Chilli
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                70,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-right-0">
                    <div class="menu-item">
                        <p>THE DECK WEEKENDER SPECIAL</p>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    COMPLIMENTARY OYSTERS WITH YOUR MOËT & CHANDON
                                    <div class="menu-item-des">
                                        <span>Bottle </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                2,200,000

                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
   
                                    The Deck Bellini
                                    <div class="menu-item-des">
                                        <span>Peach Moët & Chandon
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                500,000
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-9 p-left-0">
                                <div class="menu-item-title">
                                    London Calling 

                                    <div class="menu-item-des">
                                        <span>London Dry Gin <br/> Pimm’s No1 Mixed Fruits
</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 p-right-0 text-right">
                                190,000
                            </div>
                        </div>
                        

                    </div>
                    <div class="menu-item">
                        <p>LATE   B R E A K F A S T</p>
                        <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Smoked Salmon Scrambled Eggs
                                <div class="menu-item-des">
                                    <span>Asparagus Goat’s Cheese Bagel </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            250,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Eggs Benedict
                                <div class="menu-item-des">
                                    <span>Poached Eggs Bacon Spinach Hollandaise English Muffin </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            190,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Eggs Norwegian
                                <div class="menu-item-des">
                                    <span>Poached Eggs Smoked Salmon Rocket Hollandaise English Muffin </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            200,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Eggs Florentine (V)
                                <div class="menu-item-des">
                                    <span>Poached Eggs Spinach Hollandaise English Muffin </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            180,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Goat’s Cheese Toast
                                <div class="menu-item-des">
                                    <span>Avocado Roast Cherry Tomato Crispy Bacon Nuts Seeds </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            250,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Cream Cheese Smoked Salmon Bagel
                                <div class="menu-item-des">
                                    <span>Dill and Capers</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            190,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Croque Monsieur / Madame
                                <div class="menu-item-des">
                                    <span>Wholemeal Toast Ham Gruyère Cheese / Egg </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            200 / 220,000
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-9 p-left-0">
                            <div class="menu-item-title">
                                Pancakes (V)
                                <div class="menu-item-des">
                                    <span>Fresh Fruit Palm Sugar Syrup </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 p-right-0 text-right">
                            190,000
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix">

</div>