<div class="clearfix">

</div>
<div ui-view="Menu" class="menu">
    <div ng-repeat="mng in menuGroups" id="{{getIdMenu(mng)}}">
        <div class="main-banner">
            <!--<div class="parallax-window" id="parallax{{$index + 1}}" style="background-image:url(/Images/menu/menu_bg{{$index + 1}}.jpg)"></div>-->
            <div class="img-holder" data-image="Images/menu/menu_bg{{$index + 1}}.jpg"></div>
          <!--   <a href="/files/Bar Menu.pdf">
                <div class="downloadourmenu" ng-if="$index == 0">
                    DOWNLOAD OUR MENU
                </div>
            </a> -->
        </div>
        <div class="container">
            <div class="menu-box col-md-12 p-0">
                <div class="col-md-12  p-right-0 p-top-20">
                    <p class="text-center">
                        <strong class="title">|{{mng}}|</strong>
                        <!-- <a href="/files/{{mng.replace('&', '')}}.pdf" target="_blank"> <span class="text-right button-sexy">DOWNLOAD</span></a> -->
                    </p>

                    <div class="col-md-8 col-md-offset-2">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.center">
                            <p class="text-center">{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-left-0">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.left">
                            <p>{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-right-0">
                        <div class="menu-item" ng-repeat="mnCat in menuGroupDetails[mng].cates.right">
                            <p>{{mnCat.Name}}</p>
                            <div class="col-md-12 p-0" ng-repeat="menu in mnCat.menus">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{menu.Name}}
                                            <div class="menu-item-des" ng-show="menu.Description != ''">
                                                <span>{{menu.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-right-0 text-right p-top-10">
                                        {{menu.Price}}
                                    </div>
                                </div>
                                <div class="col-md-12 p-0" ng-repeat="subItem in menu.SubItems">
                                    <div class="col-md-9 p-left-0">
                                        <div class="menu-item-title">
                                            {{subItem.Name}}
                                            <div class="menu-item-des" ng-show="subItem.Description != ''">
                                                <span>{{subItem.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix">

</div>
<div class="subMenu">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#breakfast">BREAKFAST</a></li>
            <li><a href="#brunch">BRUNCH</a></li>
            <li><a href="#lunch">LUNCH</a></li>
            <li><a href="#dinner">DINNER</a></li>
            <li><a href="#desserts">DESSERTS</a></li>
            <li><a href="#barmenu">BAR MENU</a></li>
            <li><a href="#vegeterian& gluten free">VEGETERIAN & GLUTEN FREE</a></li>
        </ul>
    </div>
</div>
<div id="gotop"></div>