
<div ui-view="Review" class="checkout-preview">
        <div class="text-center">
            <p class="page-title">ORDER REVIEW</p>
        </div>
    <div class="col-md-offset-1 col-md-10 ">
        <div class="col-md-12 checkout-review">
            <div class="col-md-6">
                <p class="text-left">
                    <strong class="review-title">YOUR INFO</strong> 
                </p>
                <div class="col-md-12 review-info">
                        <table class="table-responsive">
                            <tr>
                                <td width="30%"><label>NAME</label></td>
                                <td class="vietnamese">TRAM NGUYEN</td>
                            </tr>
                            <tr>
                                <td width="30%"><label>PHONE NO .</label></td>
                                <td style="letter-spacing:5px;">0982357990</td>
                            </tr>
                            <tr>
                                <td width="30%"><label>EMAIL</label></td>
                                <td>tramnguyen@gmail.com</td>
                            </tr>
                            <tr>
                                <td width="30%"><label>ADDDRESS</label></td>
                                <td class="vietnamese">123 Nguyen Trong Tuyen</td>
                            </tr>
                            <tr>
                                <td width="30%"><label>CITY</label></td>
                                <td class="vietnamese">Ho Chi Minh</td>
                            </tr>
                            <tr>
                                <td width="30%"><label>DISTRICT</label></td>
                                <td class="vietnamese">Phu Nhuan</td>
                            </tr>
                        </table>
                </div>
                <div class="clearfix"></div>
                <p class="text-left">
                    <strong class="review-title "> PAYMENT METHOD</strong>
</p>
                <div class="col-md-12 review-payment">
                    <strong> BANK TRANSFER </strong>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-left order-review">
                    <strong class="review-title">ORDER #12456</strong>
                </p>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#1 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#2 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#3 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#4 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#5 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#6 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="order-item">
                    <div class="col-md-6 p-left-0"><strong>#7 BUCKET HAT SUMMER</strong></div>
                    <div class="col-md-6 text-right p-right-0"><strong>280.000 đ</strong></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Color: </a> Multi</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Size: </a> S</div>
                        <div class="col-md-3"><a href="javascript:;" class="oder-review-option">Qty: </a> 1</div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-offset-2 col-md-10 p-left-0 p-right-0 order-review-shipfee">
                    <div class="col-md-8 p-left-0">
                        <p class="shipping-chosse">SHIP IN HO CHI MINH CITY :</p>
                     
                    </div>
                    <div class="col-md-4 text-right p-right-0">
                        <strong>25.000 đ </strong>
                    </div>
                   <div class="clearfix"></div>
                    
                </div>
                <div class="col-md-offset-2 col-md-10 order-review-total p-left-0 p-right-0">
                    <div class="col-md-4 p-left-0">
                        <strong> TOTAL COST </strong>
                    </div>
                    <div class="col-md-8 text-right p-right-0">
                        <strong class="sale-text">585.000 đ </strong>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 checkout-foot p-left-0">
            <div class="col-md-6 p-left-0">
                <a href="/bag">
                    <img src="../../../Images/button-backToYourBag.png" />
                </a>
            </div>
            <div class="col-md-6 text-right p-right-0">
                <a href="/review">
                    <img src="../../../Images/button-placeOrderNow.png" />
                </a>
            </div>
        </div>
    </div>
</div>