
<div ui-view="Payment" class="col-md-12">
    <div class="about ">
        <div class="text-center">
            <p class="page-title">PAYMENT METHOD</p>
        </div>
        <div class=" col-md-12">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-12 payment-box">
                    <span class="payment-method-title">#1. BANK TRANSFER</span>
                    <div class="clearfix"></div>
                    <p class="payment-content">
                        For customer not in Ho Chi Minh city , Please use Bank Transfer method if you can.However, if you cause you<br />inconveniences,
                        we still provide you the COD method but it might cost a litte bit more dude to our party services.<br />
                        We will improve our payment method system to server you better.
                        <br />
                        <br />
                        <strong>CAT ON A HAT BANK INFORMATION</strong>
                        <br />
                        0331000439614 
                        <br />
                        Ngan hang VietComBank, chi nhanh Ben Thanh
                        <br />
                        DO THI THUY TRANG
                        <br />
                        <br />
                        <strong>NOTE FOR BANK TRANSFER</strong>
                        <br/>
                        YourName_OrderNumber
                    </p>
                    <span class="payment-method-title">#2. COD</span>
                    <div class="clearfix"></div>
                    <p class="payment-content">
                       This is simple. You pay the total(total order +shipping fee) when you order is delivered at you door ;-).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>