<div ui-view="event" class="eventpage">
    <div>
        <img class="img-responsive img-full" src="../../../Images/arrive-by-boat.jpg" />
    </div>
    <div class="event container arrive_by_boat">
        <div class="col-md-12">
            <div class="row col-md-12">
                <p class="page-title text-left">ARRIVE BY BOAT</p>
                <div class="col-md-12 p-left-0">
                    <h5>PRIVATE BOAT TAXI</h5>
                    Arrive to The Deck in style by boat direct to the dining room steps.  The only restaurant in Saigon where you can arrive by your own private speedboat.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>COCKTAIL CRUISE</h5>
                    Capture the life on the banks of the Saigon River for a pre-dinner sunset cruise. Enjoy our chef’s selection of canapés. Ideal for romantic evenings, family outings or dinner with friends.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>CU CHI TUNNELS</h5>
                    The Cu Chu Tunnels are an immense network of connecting underground tunnels used during the time of the Vietnam War. The Deck “Cu Chi Experience” will guide you and your guests by private speedboat to the site of The tunnels. You will be accompanied by our knowledgable tour guides all at your own pace. A light breakfast will be served on-board before entering the tunnels, picnic lunch and ice cold rose wine.
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>DUTCH BOAT</h5>
                    Ideal for corporate team building or a group outing. Made by hand in Holland cruise along the Mekong River while enjoying our selection of canapés and Rose. BBQ also now available!
                </div>
                <div class="col-md-12 m-top-20 p-left-0" ">
                    <h5>LUXURY YACHT</h5>
                    <p>One of the only 2 level luxury Yachts for rent in Saigon. For up to 13 people you and your guests can cruise the Mekong while sipping your favourite libations and sampling our chef’s selection of canapés. Bespoke this boat excursion to your hearts desire!</p>
                    
                    <p>
                        To arrive by boat, please <a class="button-sexy" target="_blank" href="" ui-sref="main.home.contact">CONTACT US</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="subMenu">
        <ul>
            <li><a target="_blank" href="/files/Boat Quotation.pdf">DOWNLOAD BOAT SERVICES</a></li>
        </ul>
    </div>
</div>
